#Entregable 2
##Grupo A
###Diplomatura de Ciencias de Datos

**Pablo:** en el presente entregable vas a encontrar la visualización que hicimos del corpus de textos suministrados junto a un breve análisis del mismo.

Muchas gracias.

####Insumos para la resolución del ejercicio

✅ Drive de Pablo:

https://drive.google.com/drive/u/1/folders/1xQQ50As714sQcd7HF21kfud0Yth5h98E

✅ Corpus Emi:

https://drive.google.com/drive/folders/1Wh7vXQCmTmDYvyOwrRt_ixJ6Lue5NI5T?usp=sharing

###Resolución

Union del corpus descargado y armado del csv utilizado. Este script se edito porque fue ejecutado de manera local.

In [ ]:
import os
import shutil

path2 = os.path.join(os.getcwd())

corpus_path = os.path.join(os.getcwd(), "corpus")

if not os.path.exists(corpus_path):
    os.makedirs(corpus_path)
path = 'pan-plagiarism-corpus-2011\intrinsic-detection-corpus\suspicious-document'

tree = os.walk(path)

for folder, sub_folders, files in tree:
    print("Currently looking at folder: "+ folder)
    print("\n")
    print("THE SUBFOLDERS ARE: ")
    for sub_fold in sub_folders:
        print("\t Subfolder: " + sub_fold )
    print("\n")
    print("THE FILES ARE: ")
    for f in files:
        print("\t File: "+ f)
        absolute_path = os.path.join(path2, folder, f)
        shutil.copy2(absolute_path, "corpus" + "/" + f)


    print("\n")

####Preparación de los datos

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np

In [ ]:
path="/content/drive/MyDrive/intrinsic.csv"

In [ ]:
corpus=pd.read_csv(path)

In [ ]:
corpus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4752 entries, 0 to 4751
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     4752 non-null   int64
 1   filename  4752 non-null   object
 2   text      4752 non-null   object
dtypes: int64(1), object(2)
memory usage: 111.5+ KB

In [ ]:
!pip install textstat
!pip install lexicalrichness

Collecting textstat
  Downloading textstat-0.7.3-py3-none-any.whl (105 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.1/105.1 kB 3.5 MB/s eta 0:00:00
Collecting pyphen (from textstat)
  Downloading pyphen-0.14.0-py3-none-any.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 23.2 MB/s eta 0:00:00
Installing collected packages: pyphen, textstat
Successfully installed pyphen-0.14.0 textstat-0.7.3
Collecting lexicalrichness
  Downloading lexicalrichness-0.5.0.tar.gz (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from lexicalrichness) (1.10.1)
Requirement already satisfied: textblob>=0.15.3 in /usr/local/lib/python3.10/dist-packages (from lexicalrichness) (0.17.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from lexicalrichness) (1.5.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from lexicalrichness) (3.7.1)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scipy>=1.0.0->lexicalrichness) (1.22.4)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.10/dist-packages (from textblob>=0.15.3->lexicalrichness) (3.8.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->lexicalrichness) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->lexicalrichness) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->lexicalrichness) (4.41.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->lexicalrichness) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->lexicalrichness) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->lexicalrichness) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->lexicalrichness) (3.1.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->lexicalrichness) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->lexicalrichness) (2022.7.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob>=0.15.3->lexicalrichness) (8.1.6)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob>=0.15.3->lexicalrichness) (1.3.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob>=0.15.3->lexicalrichness) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob>=0.15.3->lexicalrichness) (4.65.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->lexicalrichness) (1.16.0)
Building wheels for collected packages: lexicalrichness
  Building wheel for lexicalrichness (setup.py) ... done
  Created wheel for lexicalrichness: filename=lexicalrichness-0.5.0-py3-none-any.whl size=15517 sha256=402afe8e1c37b02b4dc595bd8ee849d030c216112c66235ef980e441a96a27b4
  Stored in directory: /root/.cache/pip/wheels/42/68/59/1edd70c2b91dc172fa208eb34799e90bc6c093bfbb862ff017
Successfully built lexicalrichness
Installing collected packages: lexicalrichness
Successfully installed lexicalrichness-0.5.0

In [ ]:
import re
import string
import operator
import functools
import glob
import os
import matplotlib.colors as mc
import nltk
import numpy as np
import textstat
import unicodedata
import pandas as pd
import matplotlib.pyplot as plt


import textstat
from lexicalrichness import LexicalRichness
from collections import Counter

from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from nltk.tokenize import word_tokenize
from nltk.tokenize import TreebankWordTokenizer
from nltk.tokenize import sent_tokenize

from nltk.tag import pos_tag, map_tag


 # Feature Selection
from sklearn.feature_selection import VarianceThreshold

nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

##Segmentación del df

Con este código segmentamos el texto en oraciones (sentSegmentation) y en párrafos (paraSegmentation)

In [ ]:
class Segmentation:

    def __init__(self, text):

        self.text = text

    def sentSegmentation(self):

        return sent_tokenize(self.text)

    def paraSegmentation(self):

        texto = self.text.split("\n\n")

        return list(filter(bool, texto))

In [ ]:
def getfleshReadingEase(text):

    fleshReadingEase = 0.0

    fleshReadingEase = textstat.flesch_reading_ease(text)

    return fleshReadingEase


def gettypeToken(text):
    tam = len(text)
    if tam <= 0:
        text = 0
    else:
        try:
            text = LexicalRichness(text)
            text = text.ttr
        except ZeroDivisionError:
            text = 0
    return text

In [ ]:
class Metricas:

    def __init__(self, text):

        self.text = text

    def sentSegmentation(self):

        return sent_tokenize(self.text)


    def paraSegmentation(self):

        texto = self.text.split("\n\n")

        return list(filter(bool, texto))

## Limpieza del texto, metricas y base de datos

para la columnas con metricas para texto y texto limpio

In [ ]:
import textstat

def calculate_automated_readability_index(text):
    return textstat.automated_readability_index(text)
#Índice de Legibilidad Automatizado (Automated Readability Index): Es una medida que estima
#el nivel de dificultad de lectura de un texto en inglés. Utiliza una fórmula matemática para
#calcular un puntaje que representa el grado de dificultad de lectura. Un puntaje más alto indica
#un texto más difícil de leer, mientras que un puntaje más bajo indica un texto más fácil de leer.

def calculate_dale_chall_readability_score(text):
    return textstat.dale_chall_readability_score(text)

#Puntaje de Legibilidad Dale-Chall (Dale-Chall Readability Score): Es otra medida que evalúa la dificultad
#de lectura de un texto en inglés. A diferencia de otros tests, este utiliza una tabla de búsqueda de las 3000
#palabras más comúnmente utilizadas en inglés. El puntaje resultante indica el nivel de grado de lectura utilizando
#la Fórmula Nueva de Dale-Chall.


def count_sentences(text):
    return textstat.sentence_count(text)

def count_polysyllables(text):
    return textstat.polysyllabcount(text)

def count_monosyllables(text):
    return textstat.monosyllabcount(text)

Para limpieza del texto

In [ ]:
SPECIAL_CHARACTERS = []

SPECIAL_CHARACTERS.extend(map(chr, range(0, 32)))
SPECIAL_CHARACTERS.extend(map(chr, range(33, 48)))
SPECIAL_CHARACTERS.extend(map(chr, range(58, 65)))
SPECIAL_CHARACTERS.extend(map(chr, range(91, 97)))
SPECIAL_CHARACTERS.extend(map(chr, range(123, 225)))
SPECIAL_CHARACTERS.extend(map(chr, range(226, 233)))
SPECIAL_CHARACTERS.extend(map(chr, range(234, 237)))
SPECIAL_CHARACTERS.extend(map(chr, range(238, 241)))
SPECIAL_CHARACTERS.extend(map(chr, range(242, 243)))
SPECIAL_CHARACTERS.extend(map(chr, range(244, 250)))
SPECIAL_CHARACTERS.extend(map(chr, range(251, 880)))

In [ ]:
class CleanText():

    def __init__(self, text, language="english"):

        self.text = text

        self.language = language

        self.clean_text = None

        self.remove_spec_text = None

        self.remove_stop_text = None

        self.lemma_text = None

    def removePatterns(self):

        replacements = (
            ("á", "a"),
            ("é", "e"),
            ("í", "i"),
            ("ó", "o"),
            ("ú", "u"),
        )

        self.text = str(self.text)

        self.clean_text = self.text.lower()

        self.clean_text = re.sub(r"\s{2,}", " ", self.clean_text)

        self.clean_text = re.sub(r"\n", " ", self.clean_text)

        self.clean_text = re.sub(r"\d+", " ", self.clean_text)

        self.clean_text = re.sub(r"^\s+", " ", self.clean_text)

        self.clean_text = re.sub(r"\s+", " ", self.clean_text)

        for a, b in replacements:

            self.clean_text = self.clean_text.replace(a, b).replace(a.upper(), b.upper())

        return self.clean_text

    def removeSpecChars(self):

        remove_patterns = self.removePatterns()

        tokens = list(word_tokenize(remove_patterns))

        clean_tokens = tokens.copy()

        for i in range(len(clean_tokens)):

            for special_character in SPECIAL_CHARACTERS:

                clean_tokens[i] = clean_tokens[i].replace(special_character, '')

        clean_tokens = [token for token in clean_tokens if token]

        self.remove_spec_text = " ".join(clean_tokens)

        return self.remove_spec_text

In [ ]:
data_con_cl=[]

data_con_cl=pd.DataFrame(data_con_cl,columns=['id_documento','id_segmento','text','automa_readability_ind_or','dale_chall_readability_or','polysyllables_or','count_monosyllables_or','text_limpio','automa_readability_ind_cl','dale_chall_readability_cl','polysyllables_cl','count_monosyllables_cl','init_s','largo'])

for i in np.arange(0,corpus.shape[0], 1, dtype=int):
  text=corpus.iloc[i,2]
  Seg = Segmentation(text)
  paraSeg = Seg.paraSegmentation()
  data_text_con_cl=[]
  init_text=0

  for j, value in enumerate(paraSeg):
    texto_limpio= CleanText(value).removeSpecChars()

    data_text_con_cl.append([i,j, value,calculate_automated_readability_index(value),calculate_dale_chall_readability_score(value),count_polysyllables(value),count_monosyllables(value),texto_limpio,calculate_automated_readability_index(texto_limpio),calculate_dale_chall_readability_score(texto_limpio),count_polysyllables(texto_limpio),count_monosyllables(texto_limpio),init_text,len(value)])

    init_text += len(value)

  data_text_cl_df=pd.DataFrame(data_text_con_cl, columns=['id_documento','id_segmento','text','automa_readability_ind_or','dale_chall_readability_or','polysyllables_or','count_monosyllables_or','text_limpio','automa_readability_ind_cl','dale_chall_readability_cl','polysyllables_cl','count_monosyllables_cl','init_s','largo'])
  data_con_cl = pd.concat([data_con_cl, data_text_cl_df])

In [ ]:
data_con_cl.to_csv('/content/drive/My Drive/idata_con_cl.csv', index=False)

In [ ]:
import sqlite3

## TF-IDF Vectorizer

In [ ]:
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
text_data = corpus['text'].tolist()

In [ ]:
vectorizer = TfidfVectorizer(stop_words='english',strip_accents='ascii', lowercase=True,min_df=0.1)
tf_idf = vectorizer.fit_transform(text_data)

In [ ]:
feature_names = vectorizer.get_feature_names_out()

In [ ]:
len(feature_names)

8035

In [ ]:
feature_names = vectorizer.get_feature_names_out()
doc_term_matrix = pd.DataFrame(tf_idf.toarray(), columns=feature_names)

In [ ]:
doc_term_matrix.head(5)

,000,10,100,11,12,13,14,15,16,17,...,york,young,younger,youngest,youth,youthful,youths,zeal,zealous,zest
0,0.000000,0.035237,0.000000,0.013180,0.025226,0.000000,0.000000,0.012987,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.017148,0.0
1,0.000000,0.005191,0.000000,0.000000,0.000000,0.000000,0.000000,0.002870,0.009083,0.0,...,0.002292,0.011798,0.004443,0.0,0.011694,0.0,0.0,0.008533,0.007578,0.0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.019268,0.006379,0.006080,0.006415,0.0,...,0.000000,0.015622,0.000000,0.0,0.008259,0.0,0.0,0.000000,0.000000,0.0
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.064829,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0
4,0.402147,0.082535,0.035444,0.061741,0.049239,0.010712,0.021277,0.050699,0.021397,0.0,...,0.000000,0.005211,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0

In [ ]:
df_res=pd.concat([corpus,doc_term_matrix],axis=1)
df_res

,index,filename,text,000,10,100,11,12,13,14,...,york,young,younger,youngest,youth,youthful,youths,zeal,zealous,zest
0,0,suspicious-document00001.txt,The convening of this body gave rise to much d...,0.000000,0.035237,0.000000,0.013180,0.025226,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.017148,0.0
1,1,suspicious-document00002.txt,WOMAN\n\nMAN'S EQUAL.\n\nBY\n\nRev. THOS. WEBS...,0.000000,0.005191,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.002292,0.011798,0.004443,0.000000,0.011694,0.000000,0.000000,0.008533,0.007578,0.0
2,2,suspicious-document00003.txt,"I do not remember that I was ""very angry"" abou...",0.000000,0.000000,0.000000,0.000000,0.000000,0.019268,0.006379,...,0.000000,0.015622,0.000000,0.000000,0.008259,0.000000,0.000000,0.000000,0.000000,0.0
3,3,suspicious-document00004.txt,"Tulaji Angria was dark, inclined to be fat, ...",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.064829,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
4,4,suspicious-document00005.txt,Hiroshima was the primary target of the first ...,0.402147,0.082535,0.035444,0.061741,0.049239,0.010712,0.021277,...,0.000000,0.005211,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4747,4747,suspicious-document04748.txt,STORIES THAT\n\n WO...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.003154,0.010823,0.000000,0.001387,0.000894,0.001315,0.000000,0.000000,0.000000,0.0
4748,4748,suspicious-document04749.txt,"The legendary history of the place, both tempo...",0.000000,0.006470,0.008335,0.000000,0.013895,0.007557,0.000000,...,0.005714,0.000000,0.000000,0.000000,0.000000,0.007148,0.000000,0.000000,0.000000,0.0
4749,4749,suspicious-document04750.txt,"The detective lunged toward her. ""Just what I ...",0.000000,0.018881,0.000000,0.000000,0.020275,0.000000,0.000000,...,0.000000,0.032185,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
4750,4750,suspicious-document04751.txt,Redactor's note: Italics are indicated by unde...,0.000000,0.003370,0.002895,0.003782,0.001206,0.000000,0.000000,...,0.002977,0.005107,0.002885,0.000000,0.006749,0.000000,0.003177,0.002462,0.000000,0.0
4751,4751,suspicious-document04752.txt,Winchester:\n Printed by Warren...,0.000000,0.075927,0.000000,0.028399,0.027178,0.059124,0.029360,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [ ]:
df_res.to_csv('/content/drive/My Drive/intrinsic_with_tfidf.csv', index=False)

## Transformamos los dataframes de pandas a base de datos SQL

In [ ]:
path="/content/drive/MyDrive/intrinsic_with_tfidf.csv"

In [ ]:
intrinsic_with_tfidf=pd.read_csv(path)

In [ ]:
intrinsic_with_tfidf.iloc[:,0:3]

,index,filename,text
0,0,suspicious-document00001.txt,The convening of this body gave rise to much d...
1,1,suspicious-document00002.txt,WOMAN\n\nMAN'S EQUAL.\n\nBY\n\nRev. THOS. WEBS...
2,2,suspicious-document00003.txt,"I do not remember that I was ""very angry"" abou..."
3,3,suspicious-document00004.txt,"Tulaji Angria was dark, inclined to be fat, ..."
4,4,suspicious-document00005.txt,Hiroshima was the primary target of the first ...
...,...,...,...
4747,4747,suspicious-document04748.txt,STORIES THAT\n\n WO...
4748,4748,suspicious-document04749.txt,"The legendary history of the place, both tempo..."
4749,4749,suspicious-document04750.txt,"The detective lunged toward her. ""Just what I ..."
4750,4750,suspicious-document04751.txt,Redactor's note: Italics are indicated by unde...
4751,4751,suspicious-document04752.txt,Winchester:\n Printed by Warren...

In [ ]:
path1='/content/drive/My Drive/idata_con_cl.csv'

In [ ]:
idata_con_cl=pd.read_csv(path1)

Guardamos las tablas en SQL

In [ ]:
import sqlite3

In [ ]:
con = sqlite3.connect('corpus.db')

intrinsic_with_tfidf.iloc[:,0:3].to_sql('Tabla_Documentos', con, if_exists='replace', index=False)
idata_con_cl.to_sql('Tabla_Segmentos', con, if_exists='replace', index=False)

con.close()

In [ ]:
import shutil

# Ruta de la base de datos creada previamente
db_path = 'corpus.db'

# Ruta en tu Google Drive donde deseas guardar la base de datos
drive_path = '/content/drive/My Drive/corpus.db'

shutil.copyfile(db_path, drive_path)

'/content/drive/My Drive/corpus.db'